header {
            position: fixed;
            width: 90vw;
            top: 0;
            z-index: 2;
            left: 0;
            height: 10vh;
            display: flex;
            background: lightskyblue;
            justify-content: space-between;
            align-items: center;
            padding: 0 6vw 0 4vw;
        }
#header-logout  {
            font-size: 1.1em;
        }
#header-atag {
            padding-left: 20px;
            color: salmon;
        }